{%extends "master.html"%} {%block about %}
<div class="col-sm-2 "></div>
<div class="col-sm-6 container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<h3 id="brand">
				<u>About</u>
			</h3>
			<h3 id="brand" style="font-size: 20px">
				<u>Name</u>:<br> <br> <b> Anshul Mehta</b>
			</h3>
			<h3 id="brand" style="font-size: 20px">
				<u>About</u>:<br> <br> <b> Casual Programmer</b>
			</h3>
			<h3 id="brand" style="font-size: 20px">
				<u>Languages Known</u>:<br> <br> <b> C/C++, Python,
					Java</b>
			</h3>
		</div>

		<div class="col-sm-4">
			<br>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1859.2130522455993!2d81.60040638964682!3d21.25459436695844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28de07c43c353b%3A0xdd82b891e0843833!2sLaxmi+Narayan+Temple%2C+Kota%2C+Raipur%2C+Chhattisgarh+492001!5e0!3m2!1sen!2sin!4v1489078585765"
				width="400" height="350" frameborder="0" style="border: 0"
				allowfullscreen></iframe>
		</div>
	</div>
	<br>
</div>
{% endblock %}
